# Environmental Variables
.env
environment.*

# Virtual Environment
venv/
.venv/

# Config Files
config.*

# Node Modules
node_modules/

# Build Files
listener.py

# Models
porcupine

# Build Files
__pycache__/